//overide custom drupal styles
.breadcrumb{
	height: 30px;
	clear:both;
	li{
		float:left;
		.divider{
			padding:0 10px;
		}
	}
}

button.btn{
	padding: 0 20px!important;
}

div.error {
	background-image: none!important;
}

//system.base
.container-inline div, .container-inline label {
	display: block!important;
}